<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Song</title>
</head>
<body>
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sign Up Author</title>
</head>
<body>

<div>
    <form th:action="@{/addSong/__${title}__}" method="post">
        <p>Title</p><input type="text" name="title"/></br>
        <p>Length</p><input type="number" name="length"/></br>
        <p>Track Number</p><input type="number" name="trackNumber"/></br>
        <button type="submit">Submit</button>
    </form>
</div>

</body>
</html>
</body>
</html>