<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link th:href="@{/albums.css}" rel="stylesheet"/>
</head>
<body>
<div th:each="song:${songs}" class="album">
  <div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 th:text="'Title :  '+'   '+${song.title}" class="card-title" name="title"></h5>
          <h5 th:text="'Track Number :  '+'  '+${song.trackNumber}" class="card-text"></h5>
          <h5 th:text="'Song Count :  '+'  '+${song.length}" class="card-text"><small class="text-muted"></small>
          </h5>
          <h5 th:text="'Album Title :  '+'   '+${song.album.title}" class="card-text"><small
                  class="text-muted"></small></h5>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>